.cart-page {
    background: #F5F9FA;
    font-size: .14rem;
    overflow-y: scroll;
    padding-bottom: 1.12rem;

    .cart-title {
        text-align: center;
        line-height: .44rem;
        font-size: .18rem;
        color: #242424;
        background: #fff;
    }

    .cart-detail {
        background: #FFF;
        padding: .1rem;
        margin-top: .1rem;
        
        &-radio {
            flex-shrink: 0;
            width: .24rem;
            height: .24rem;
            border: .01rem solid #b1b1b1;
            border-radius: .12rem;
            // transform: scale(1.5);
            margin-right: .1rem;
            &-activate {
                background: #73D13D;
                // border: none;
            }
        }

        &-title {
            display: flex;
            // justify-content: center;
            align-items: center;
            padding-bottom: .1rem;

          

            &-img {
                font-size: .16rem;
                margin-right: .08rem;
            }

            &-name {
                font-size: .16rem;
            }

        }

        &-content {
            .cart-detail-item {
                display: flex;
                // justify-content: center;
                margin-bottom: .1rem;
                align-items: center;

                // &-radio {
                //     flex-shrink: 0;
                //     width: .24rem;
                //     height: .24rem;
                //     border: .01rem solid #b1b1b1;
                //     border-radius: .12rem;
                //     margin-right: .1rem;
                // }

                &-img {
                    // display: block;
                    width: .96rem;
                    height: .96rem;
                    margin-right: .1rem;
                }

                &-right {
                    position: relative;

                    .item-title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        word-break: break-all;
                    }

                    .item-specification {
                        color: gray;
                        margin: .1rem 0;

                    }

                    .item-price {
                        color: red;
                        font-size: .2rem;
                        line-height: .24rem;
                        // margin: 0 .06rem;
                    }

                    .yen {
                        // margin-right: .05rem;
                        font-size: .12rem;
                    }

                    .item-input {
                        position: absolute;
                        width: .4rem;
                        height: .24rem;
                        font-size: .12rem;
                        text-align: center;
                        right: .3rem;
                        top: .65rem;
                        background: #F5F9FA;
                        border: .01rem solid #DFDFDF;
                        outline: none;
                    }
                }
            }


        }
    }

    .cart-total {
        background: #FFF;
        display: flex;
        // padding: .1rem;
        align-items: center;
        // justify-content: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: .52rem;
        font-size: .16rem;
        height: .48rem;
        color: gray;
        &-radio {
            width: .24rem;
            height: .24rem;
            border: .01rem solid #b1b1b1;
            border-radius: .12rem;
            margin: 0 .1rem;
            &-activate {
                background: #73D13D;
                // border: none;
            }
        }

        &-text {
            // font-size: .16rem;
            margin:0 .4rem;
            color: #242424;
        }

        &-price {
            color: red;
            font-size: .2rem;
            line-height: .24rem;
            margin-right: .05rem; 
            .yen {
                font-size: .12rem;
                // margin-left: .1rem;
            }
        }

        &-pay {
            flex: 1;
            width:1rem;
            height: .48rem;
            background: #73D13D;
            text-align: center;
            line-height: .48rem;
            color: #FFF;
        }
    }
}